/*
palette options
--mauve: #edc9ffff;
--mimi-pink: #fed4e7ff;
--melon: #f2b79fff;
--dark-magenta: #802392ff;
--magic-mint: #a5f8d3ff;
----
--mauve: #edc9ffff;
--mimi-pink: #fed4e7ff;
--melon: #f2b79fff;
--granny-smith-apple: #b3efb2ff;
--russian-green: #7a9e7eff;
----
--mauve: #edc9ffff;
--mimi-pink: #fed4e7ff;
--melon: #f2b79fff;
--dark-purple: #412234ff;
--english-violet: #6d466bff;


*/

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }