/*
palette options
--mauve: #edc9ffff;
--mimi-pink: #fed4e7ff;
--melon: #f2b79fff;
--dark-magenta: #802392ff;
--magic-mint: #a5f8d3ff;
----
--mauve: #edc9ffff;
--mimi-pink: #fed4e7ff;
--melon: #f2b79fff;
--granny-smith-apple: #b3efb2ff;
--russian-green: #7a9e7eff;
----
--mauve: #edc9ffff;
--mimi-pink: #fed4e7ff;
--melon: #f2b79fff;
--dark-purple: #412234ff;
--english-violet: #6d466bff;


*/
/*BODY SET UP*/
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-areas: 
  "info      header    header    panic"
  "info      map       map       form"
  "info      map       map       log"
  "info      resource  resource  resource"
  "info      text      text      text"
  "footer    footer    footer    footer";
  grid-template-rows: 125px 250px 300px auto auto 75px;
  grid-template-columns: 100px 300px 200px 300px;
  
}
#header{
  grid-area: header;
}
form{
  grid-area: form;
}
#log{
  grid-area: log;
  display: flexbox;
  flex-flow: column, nowrap;
  overflow-y: scroll;
}
#map {
  grid-area: map;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
.resource{
  grid-area: resource;
}
.extra{
  grid-area: text;
}
#info{
  grid-area: info;
}
footer{
  grid-area: footer;
}
/*STAR SLIDER*/
.rating {
  --dir: right;
  --fill: #ff9b54;
  --fillbg: #ff7f5126;
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 2rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
}
[dir="rtl"] .rating {
  --dir: left;
}
.rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
.rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
.rating, .rating-label {
  display: block;
}
.rating-label {
  margin-block-end: 1rem;
}
/*

.rating--nojs::-moz-range-track {
  background: var(--fillbg);
}
.rating--nojs::-moz-range-progress {
  background: var(--fill);
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--star);
}
.rating--nojs::-webkit-slider-runnable-track {
  background: var(--fillbg);
}
.rating--nojs::-webkit-slider-thumb {
  background-color: var(--fill);
  box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
  opacity: 1;
  width: 1px;
}
[dir="rtl"] .rating--nojs::-webkit-slider-thumb {
  box-shadow: var(--w) 0 0 var(--w) var(--fill);
}
*/
