/*
palette
--name: #;
--dark_wine_background: #4f000b;
--medium_burgandy_shapes: #720026;
--salmon_text: #ce4257;
--light_orange: #ff9b54;
*/

/*BODY SET UP*/
html{
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: "Alata";
  src: url(../media/Alata-Regular.ttf) format("truetype");
}
body{
  
  margin: 0;
  display: grid;
  grid-template-areas: 
  "logo      header    header    panic"
  "nav      map       map       form"
  "nav      map       map       log"
  "nav      resource  resource  resource"
  "nav      text      text      text"
  "footer    footer    footer    footer";
  grid-template-rows: 125px 250px 300px auto auto 75px;
  grid-template-columns: 100px 300px 200px 300px;
  
  background-color: #4f000b;
}

#header{
  grid-area: header;
  top: 10px;
}
#headerimg{
  width: 20%;
  height: 20%;
  top: 15px;
}

h1{
  grid-area: header;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  color: #CE4257;
  padding: 0px;
  margin: 0;
}

button{
  grid-area: panic;
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 12px 30px;
  background:#ff9b54;
  border: none;
  color: #4f000b;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: .5em;
}

h2{
  grid-area: resource;
  color: #FFFFFF;
  font-size: 2em;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  padding:0;
}

form{
  grid-area: form;
  padding-left: 1.5em;
}

#log{
  grid-area: log;
  display: flexbox;
  flex-flow: column, nowrap;
  overflow-y: scroll;
  left: 15px;
}
#where{
  background-color: #CE4257;
}
#map {
  grid-area: map;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
.resource{
  grid-area: resource;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
}
.extra{
  grid-area: text;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
}

#logo{
  position: fixed;
  left: 5px;
  height: 75px;
  width: 70px;
  padding: 5px;
}
#nav{
  grid-area: nav;

  position: fixed;
  top: 80px;
  left: 10px;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #CE4257;
}
a{
  grid-area: nav;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #CE4257;
}

p.pTitle{
  grid-area: resource;
  color: #CE4257;
  font-size: 2em;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  margin-top: 20px;
}
p.name{
  grid-area: resource;
  color: #ff9b54;
  font-size: 1em;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  padding-top: 20px;
}
p{
  grid-area: resource;
  color: #CE4257;
  font-size: 1em;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0em;
}

footer{
  grid-area: footer;
  background-color: #CE4257;
  color: #4f000b;
  margin-top: 20px;
  width: 100%;
  height:fit-content;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  padding: 15px;
}
/*STAR SLIDER*/
#rating {
  --dir: right;
  --fill: #ff9b54;
  --fillbg: #ff7f5126;
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 2rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
}
[dir="rtl"] #rating {
  --dir: left;
}
#rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
#rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
#rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
#rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
#rating, #rating-label {
  display: block;
}
#rating-label {
  margin-block-end: 1rem;
}
